body {
    background-color: tan;
    margin: 0;
    padding: 0;
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: lavender;
    padding: 32px;
    bottom: 0;
    right: 0;
    left: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gameboard {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black 1px;
    margin: 64px;
    flex: 0 1 100%;
}

.rowOne,
.rowTwo,
.rowThree {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;

}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: solid black 1px;
    padding: 48px;
    background-color: grey;
    font-size: 32px;
    
    height: 16px;
    width: 16px;
}

.square:hover {
    background-color: lightgrey;
    cursor: pointer;
}

#resetButton {
    display: flex;
    background-color: lightblue;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    border-radius: 15px;
    padding: 8px 100px;
}