.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black 1px;
    padding: 32px;
    margin: 64px;
}

.rowOne,
.rowTwo,
.rowThree {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: solid black 1px;
    padding: 32px;

    font-size: 32px;
}